{% extends 'layout.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<body>
    <div class="container mt-5">
        <h1>{{ directory }} - {{ filename }}</h1>
        <div class="card">
            <div class="card-body">
                <pre id="data-text">{{ data }}</pre>
            </div>
        </div>
        <div class="mt-3">
            <button class="btn btn-primary" onclick="printData()">Print Data</button>
            <a href="{{ url_for('display_data', directory=directory) }}" class="btn btn-secondary">Back to Data Files</a>
        </div>
    </div>

    <script>
        function printData() {
            var printWindow = window.open('', '_blank');
            printWindow.document.open();
            printWindow.document.write('<html><head><title>Print Data</title></head><body>');
            printWindow.document.write('<pre>' + document.getElementById('data-text').innerText + '</pre>');
            printWindow.document.write('</body></html>');
            printWindow.document.close();
            printWindow.print();
            printWindow.close();
        }
    </script>
</body>
{% endblock %}
